<div class="profile-slide">
  <div class="container">
      <div class="profile-banner-row">
          <div class="profile-banner-col">
            <div class="profile-banner-box">
              <div class="gamer-box">
                <h3>Gamer <span>Board</span></h3>
                <div class="gamer-board-list">
                  <ul>
                    <li>
                      <div class="gamer-img-box">
                        <img src="assets/images/brand06.jpg" />
                      </div>
                    </li>
                    <li>
                      <div class="gamer-img-box">
                        <img src="assets/images/brand07.jpg" />
                      </div>
                    </li>
                    <li>
                      <div class="gamer-img-box">
                        <img src="assets/images/brand08.jpg" />
                      </div>
                    </li>
                    <li>
                      <div class="gamer-img-box">
                        <img src="assets/images/brand09.jpg" />
                      </div>
                    </li>
                    <li>
                      <div class="gamer-img-box">
                        <img src="assets/images/brand11.jpg" />
                      </div>
                    </li>
                    <li>
                      <div class="gamer-img-box">
                        <img src="assets/images/brand12.jpg" />
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="profile-banner-col">
            <div class="profile-banner-box">
              <div class="gamer-box">
                <h3>Banner <span>Headlines</span></h3>
                <div class="headlines-list">
                  <ul>
                    <li><span>1</span> Check out our New collection</li>
                    <li><span>2</span> Discover your Brand</li>
                    <li><span>3</span>Check out oUr New collection</li>
                    <li><span>4</span> Check out our New collection</li>
                    <li><span>5</span> Discover your Brand</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="profile-banner-col">
            <div class="profile-banner-box">
              <div class="gamer-box">
                <h3>Trending <span>News</span></h3>
                <div class="news-info">
                  <p>Share Style Look With Street Snap. Get This @shop Top Exclusively For @Nordstorm Anniversary sale <span>#Nordstorm</span></p>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>

<div class="profile-wrap">
  <div class="container">
    <!-- profile-->
    <div class="profile-container">
      <div class="pro-sidebar">
        <app-profile-menu></app-profile-menu>
      </div>
      <div class="pro-rightwrap">
        <div class="pro-rightbox">
          <div class="cognos-slide">
            <h3>Through The Looking Class</h3>
            <div class="slider-row">
              <div class="slider-label-row">
                <span class="slider-label">Introverted</span>
                <span class="slider-label">Extroverted</span>
              </div>
              <div class="slider-container">
                <input type="range" min="1" max="100" class="rangeslider" value="50">
                <div class="slider-rangevalue" style="width: 50%;"></div>
              </div>
            </div>
            <div class="slider-row">
              <div class="slider-label-row">
                <span class="slider-label">Fearless</span>
                <span class="slider-label">Deserved</span>
              </div>
              <div class="slider-container">
                <input type="range" min="1" max="100" class="rangeslider" value="30">
                <div class="slider-rangevalue" style="width: 30%;"></div>
              </div>
            </div>
            <div class="slider-row">
              <div class="slider-label-row">
                <span class="slider-label">Punctual</span>
                <span class="slider-label">Passive</span>
              </div>
              <div class="slider-container">
                <input type="range" min="1" max="100" class="rangeslider" value="40">
                <div class="slider-rangevalue" style="width: 40%;"></div>
              </div>
            </div>
            <div class="slider-row">
              <div class="slider-label-row">
                <span class="slider-label">Naughty</span>
                <span class="slider-label">Nice</span>
              </div>
              <div class="slider-container">
                <input type="range" min="1" max="100" class="rangeslider" value="50">
                <div class="slider-rangevalue" style="width: 50%;"></div>
              </div>
            </div>
            <div class="slider-row">
              <div class="slider-label-row">
                <span class="slider-label">Introverted</span>
                <span class="slider-label">Extroverted</span>
              </div>
              <div class="slider-container">
                <input type="range" min="1" max="100" class="rangeslider" value="50">
                <div class="slider-rangevalue" style="width: 50%;"></div>
              </div>
            </div>
              
          </div>
          <div class="cognos-lense">
            <h3>Through The Lense</h3>
            <div class="point-view-row">
              <span class="total-point">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 6h-2.18c.11-.31.18-.65.18-1 0-1.66-1.34-3-3-3-1.05 0-1.96.54-2.5 1.35l-.5.67-.5-.68C10.96 2.54 10.05 2 9 2 7.34 2 6 3.34 6 5c0 .35.07.69.18 1H4c-1.11 0-1.99.89-1.99 2L2 19c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V8c0-1.11-.89-2-2-2zm-5-2c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zM9 4c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm11 15H4v-2h16v2zm0-5H4V8h5.08L7 10.83 8.62 12 11 8.76l1-1.36 1 1.36L15.38 12 17 10.83 14.92 8H20v6z"/></svg>
                2,500 Point</span>
            </div>
            <div class="point-box">              
              <div class="point-step-wrap">
                <div class="profile-step-top">
                  <div class="step-order">2 <span>of</span> 5</div>
                  <button type="button" class="skip-btn">Skip</button>
                </div>
                <h4>Which City Do You Favor?</h4>
                <div class="point-check-list">
                   <ul>
                      <li>
                        <input type="radio" id="check01" name="city" />
                        <label class="" for="check01" class="">Philadelphia</label>
                      </li>
                      <li>
                        <input type="radio" id="check02" name="city" />
                        <label class="" for="check02">Chicago</label>
                      </li>
                      <li>
                        <input type="radio" id="check03" name="city" />
                        <label class="" for="check03">New York</label>
                      </li>
                      <li>
                        <input type="radio" id="check04" name="city" />
                        <label class="" for="check04">Los Angeles</label>
                      </li>
                   </ul>
                </div>
                <div class="point-next">
                  <button type="button" class="next-btn">Next</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>