/* Share Active Tab */
.share-active-tab {    
    background: #f7f7f7;
    padding-top: 25px;
    .active-tabs {
        width: 306px;
        margin: 0 auto;
        border: 1px solid #d61f27;
        border-radius: 30px;

        li {
            width: 50%;

            a {
                display: block;
                text-align: center;
                padding: 12px 0;
                color: #444444;
                font-size: 18px;
                line-height: 1.2;

                &.active {
                    background: #d61f27;
                    color: #fff;
                    border-radius: 20px;
                }
            }
        }
    }
}
.share-tab-wrapper {
    background: #f7f7f7;
    padding: 0 0 50px;
}

  /* Break Points */
  @media screen and (max-width: 767px) {
    .share-active-tab {   
        .active-tabs {
            width: 190px;
            li{
                a{
                    font-size: 14px;
                    padding: 8px 0;
                }
            }
        }
    }    
  }

