<div class="personal-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="personal-loader" *ngIf="!shares">
          <app-loader></app-loader>
        </div>
        <div class="personal-feed-item" *ngIf="shares">
          <div class="feed-list-item" *ngFor="let share of shares; let i = index">
            <div class="personal-user-item">
              <div class="personal-user-img">
                <img [src]="share.User.ProfileImage" onerror="this.src='assets/images/user.png';" alt="..." />
              </div>
              <div class="personal-user-info">
                <span class="personal-user-name">{{ share.User.Username }}</span>
                <span class="user-post-txt">{{share.Product.name}}</span>
              </div>
            </div>
            <div class="feed-post-card">
              <div class="feed-post-img">
                <img [src]="share.Product.pictures[0]" />
              </div>
              <!--Feed Action Item-->
              <div class="personal-action-item">
                <button [ngClass]="{'action-trans-btn like' : true, 'like' : share.Like > 0}"
                  (click)="OnClicklike(share, i)">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path
                      d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2z" />
                  </svg>
                  <span class="btn-text">{{share.TotalLike}}</span>
                </button>
                <!-- <button class="action-trans-btn Dislike" (click)="OnClickDislike(product)">
                        <svg xmlns="https://image.flaticon.com/icons/svg/520/520709.svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>
                        <span class="btn-text">{{product.Dislike}}</span>
                    </button> -->


                <!-- <button class="action-trans-btn comment">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M20 17.17L18.83 16H4V4h16v13.17zM20 2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14l4 4V4c0-1.1-.9-2-2-2z"/></svg>
                          <span class="btn-text">5 Comment</span>
                      </button>   -->
                <button class="action-trans-btn share" data-toggle="modal" data-target="#video"
                  (click)="getSelectedProduct(share.Product)">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path
                      d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92s2.92-1.31 2.92-2.92c0-1.61-1.31-2.92-2.92-2.92zM18 4c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zM6 13c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm12 7.02c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1z" />
                    </svg>
                  <span class="btn-text">{{share.TotalShare}}</span>
                </button>

                <button class="action-trans-btn bookmark">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2zm0 15l-5-2.18L7 18V5h10v13z" />
                    </svg>
                  <!-- after Bookmark-->
                  <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z"/></svg> -->
                </button>

              </div>
              <!-- <div class="feed-comment-row"> 
                    <div class="feed-comment-list" *ngFor="let Comment of product.Comments">
                      <div class="comment-user-img"><img src="/assets/images/brand06.jpg"></div>
                      <div class="comment-user-info">
                        <p><strong>{{Comment.CommentedBy.Username}}</strong>
                          <span>{{Comment.Comment}}</span>
                        </p>
                        <span class="recent-post-time">{{Comment.CommentedOn}}</span>
                      </div>
                    </div>
                    <div class="comment-bottom-area">
                      <div class="comment-user-img"><img src="/assets/images/brand10.jpg"></div>
                      <div class="comment-wrap">
                        <textarea placeholder="Write a Comment ..." [(ngModel)]="product.NewComment"></textarea>
                        <button type="button" class="cmt-btn" (click)="OnClickComment(product, i)">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"></path><path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"></path></svg>
                        </button>                       
                      </div>
                    </div>
                  </div> -->

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <app-notification></app-notification>
      </div>
    </div>
  </div>
</div>

<!-- Share Modal -->
<div class="modal fade video-modal" id="video" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="share-header">
        <div class="modal-close">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <h4>Select friends to share</h4>
      </div>
      <div class="share-friend-list">
        <ul>
          <li *ngFor="let friend of friends;">
            <input type="checkbox" [id]="friend.Username" [(ngModel)]="friend.isChecked" />
            <label class="" [for]="friend.Username">
              <div class="share-wrap">
                <div class="share-user-img">
                  <img [src]="friend.ProfileImage" onerror="this.src='assets/images/user.png';" alt="..." />
                </div>
                <div class="share-user-info">
                  <h5>{{ friend.Username }}</h5>
                </div>
              </div>
              <span class="share-check"></span>
            </label>
          </li>
        </ul>
      </div>
      <div class="share-time-count">
        <label>Select Countdown Time (In Mins)</label>
        <input type="number" [(ngModel)]="time" />
      </div>
      <div class="share-action">
        <button class="btn btn-primary" id="closeModal" data-dismiss="modal" (click)="shareProduct()">Share</button>
      </div>

    </div>
  </div>
</div>