<div class="search-product-wrap collection-product-wrapper">
  <div class="container">
    <div class="product-top-filter">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-xl-12">
            <div class="filter-main-btn">
              <span class="filter-btn btn btn-theme" (click)="mobileFilter()">
                <i class="fa fa-filter" aria-hidden="true"></i> Filter
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="product-filter-content">
              <h5>Showing Products 1-{{products.length}}</h5>
              <div class="product-page-filter">
                <select (change)="onChangeSorting($event.target.value)">
                  <option value="asc">Sorting items</option>
                  <option value="asc">Ascending Order</option>
                  <option value="desc">Descending Order</option>
                  <option value="a-z">Alphabetically, A-Z</option>
                  <option value="z-a">Alphabetically, Z-A</option>
                  <option value="low">Price, low to high</option>
                  <option value="high">Price, high to low</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="product-wrapper-grid">
      <div [@Animation]="animation">
        <div class="product-list-grid">
          <div class="search-product-col" *ngFor="let product of products | orderBy:sortByOrder">
            <div class="product-box">
              <app-product [product]="product"></app-product>
            </div>
            <!-- Infinite Scroll -->
            <div infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="2000" (scrolled)="onScroll()"
              *ngIf="products.length">
            </div>
          </div>
        </div>
        <div *ngIf="isLoading" class="product-loading">
          <app-loader></app-loader>
        </div>
        <div class="col-sm-12 text-center section-b-space mt-5 no-found" *ngIf="!products.length && !isLoading">
          <img src="assets/images/empty-search.jpg" class="img-fluid mb-4">
          <h3>Sorry! Couldn't find the product you were looking For!!! </h3>
          <p>Please check if you have misspelt something or try searching with other words.</p>
          <a [routerLink]="'/shop'" class="btn btn-solid">continue shopping</a>
        </div>
      </div>
    </div>
    <div class="product-infinitescroll">
      <div class="theme-paggination-block">
        <div class="container-fluid p-0">
          <div class="row">
            <div class="text-center col-sm-12">
              <div class="infinite-scrolling mt-4 mb-4 d-inline-block">
                <img src="assets/images/loader.gif" *ngIf="!finished && products.length">
                <div class="loading-more active" *ngIf="finished && products.length">No More
                  Products</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Share Modal -->
<div class="modal fade video-modal" id="video" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <app-share-modal [friends]="friends" [user]="user"></app-share-modal>
    </div>
  </div>
</div>