<!-- Home slider -->
<section class="p-0">
  <ngx-slick-carousel class="home-slider" #slickModal="slick-carousel" [config]="sliderConfig">
    <div ngxSlickItem>
      <div class="banner-slide-wrap">
        <img src="assets/images/slide1.jpg" alt="" />  
        <div class="benner-slider-caption">
          <div class="benner-slider-inner">
            <h2>HOT COLLECTION</h2>
            <p>We carry simple, wearable garments. Neutral colors. Natural fibres. Relaxed silhouettes. Effortless, everyday fashion</p>
            <a href="shop/collection/Bottoms">View Collection</a>
          </div>
        </div> 
      </div>   
    </div>
    <div ngxSlickItem>
      <div class="banner-slide-wrap">
        <img src="assets/images/slide2.jpg" alt="" />  
        <div class="benner-slider-caption">
          <div class="benner-slider-inner">
            <h2>HOT COLLECTION</h2>
            <p>We carry simple, wearable garments. Neutral colors. Natural fibres. Relaxed silhouettes. Effortless, everyday fashion</p>
            <a href="shop/collection/Bags">View Collection</a>
          </div>
        </div> 
      </div> 
    </div>
  </ngx-slick-carousel>
</section>
<!-- Home slider end -->
